.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, min-content);
  gap: 18px 16px;
  margin: 0 auto 0 26px;
}

@media screen and (max-width: 768px) {

  .profile__info {
    margin: 22px auto 0px;
    text-align: center;
    gap: 10px 14px;
    max-width: 282px;
    
  }
}